@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: auto;
  -webkit-user-select: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  background: #000;
}

a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #f7741e;
}

h1.header {
  color: #f7741e;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  color: #8b3c08;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  color: #f7741e;
  font-size: 4rem;
  font-weight: bold;
}

p1 {
  color: #ccc;
  margin-bottom: 100rem;
  font-size: 1.6rem;
}

canvas {
  height: 100vh;
  z-index: -100000;
  position: fixed;
  top: 0px;
}

.mb {
  margin-bottom: 3rem;
}

.logo {
  font-family: "Monoton", cursive;
  color: white;
  font-size: 10rem;
}

.logo1 {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 5rem;
}

.lng {
  margin-left: 1.5rem;
  animation-name: move;
  transition-timing-function: ease-in-out;
}
.lng:hover {
  animation: move 1.5s infinite;
  transition: all 0.5s ease-in-out;
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.links-list ul li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.links-list h1 {
  color: white;
  font-size: 2.5rem;
}

.links-list ul li span {
  background-color: #e63103;
  font-size: 1rem;
  border-radius: 10px;
  padding: 1px 6px;
  font-weight: bold;
  margin-left: 0.3rem;
  color: white;
}

/* editando */
.links-list1 ul li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.linguagens h1 {
  color: white;
  font-size: 2.5rem;
}

.links-list1 ul li span {
  background-color: #e63103;
  font-size: 1rem;
  border-radius: 10px;
  padding: 1px 6px;
  font-weight: bold;
  margin-left: 0.3rem;
  color: white;
}
/* editando */
.footer {
  margin-top: 6rem;
}

.footer p {
  color: white;
  font-size: 1.3rem;
}

/* .social-icons{
  display: flex ;
  align-items: center;
  justify-content: center;
} */
